/*kora admin*/
/*.multiselect {*/
    /*width:20em;*/
    /*height:15em;*/
    /*border:solid 1px #c0c0c0;*/
    /*overflow:auto;*/
/*}*/
 /**/
/*.multiselect label {*/
    /*display:block;*/
/*}*/
 /**/
/*.multiselect-on {*/
    /*color:#ffffff;*/
    /*background-color:#000099;*/
/*}*/

/*.flexslider {*/
	/*margin: 0;*/
	/*background: #fff;*/
	/*border: none;*/
	/*position: relative;*/
	/*zoom: 1;*/
/*}*/
/*.kgis_loading {*/
	/*width: 220px;*/
/*}*/
/*#nomore {*/
	/*position: fixed;*/
	/*bottom: 0;*/
	/*left: 50%;*/
	/*padding: 20px;*/
	/*margin-top: -25px;*/
	/*margin-left: -75px;*/
	/*width: 200px;*/
	/*height: 50px;*/
	/*background-color: #fff;*/
	/*opacity: .7;*/
/*}*/
/*.kora_help {*/
	/*font-size: 13px;*/
	/*padding: 0 0 10px 0;*/
	/*font-style: italic;*/
	/*color: #999;*/
	/*clear: both;*/
/*}*/
/**********************************/
 /*Kora Settings Page*/
/**********************************/
/*.setting_detail {*/
	/*font-style: italic;*/
/*}*/
/*#kora-upload {*/
	/*margin-right: 5px;*/
/*}*/
/*#kora-library {*/
	/*margin-right: 5px;*/
/*}*/
/*#kora-gallery {*/
	/*margin-right: 5px;*/
/*}*/
/**********************************/
 /*Add New Kora Object Page*/
/**********************************/
/*.koraobj_control_label {*/
	/*font-weight: bold;*/
	/*float: left;*/
	/*margin: 0px 5px 0px 0px;*/
/*}*/
/*.koraobj_control_label:after {*/
	/*content: ":";*/
/*}*/
/*.koraobj_control_value {*/
/*}*/
/*.koraobj_control {*/
	/*border-bottom: 1px solid #eee;*/
	/*padding: 2px;*/
/*}*/
/*.koraobj_container {*/

	/*font-size: 11px;*/
	/*width: 97%;*/
	/*float: left;*/
	/*overflow: auto;*/
	/*padding: 8px;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*margin: 5px 10px 5px 0px;*/
	/*line-height: 15px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
/*}*/
/*.fullrecord_obj {*/
	/*float: left;*/
/*}*/
/*#newobj {*/
	/*float: left;*/
	/*clear: both;*/
	/*margin-top: 20px;*/
/*}*/
/*.noresults {*/
	/*color: red;*/
	/*margin-top: 20px;*/
/*}*/
/*.kora_upload_insert*/
/*{clear: both;}*/

/*#kora_results_container_addnewobj{*/
	/*position: fixed;*/
    /*top: 100px;*/
    /*right: 5px;*/
/*}*/
/**********************************/
 /*KORA LIBRARY PAGE*/
/**********************************/
/*.lib_obj {*/
	/*font-size: 11px;*/
	/*width: 250px;*/
	/*float: left;*/
	/*overflow: auto;*/
	/*height: 160px;*/
	/*padding: 8px;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*margin: 10px 10px 0px 0px;*/
	/*line-height: 15px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
/*}*/
/*.lib_obj img {*/
	/*width: 100%;*/
	/*height: auto;*/
/*}*/
/*.lib_image {*/
	/*width: 250px;*/
	/*max-height: 130px;*/
	/*overflow: hidden;*/
	/*display: block;*/
	/*background-position: 50% 50%;*/
	/*border: 1px solid #aaa;*/
	/*float: left;*/
	/*margin-right: 10px;*/
	/*cursor:pointer;*/
/*}*/
/*.lib_obj_library {*/
	/*position: relative;*/
    /*top: 100px;*/
    /*right: 5px;*/
	/*font-size: 11px;*/
	/*width: 100%;*/
	/*float: left;*/
	/*overflow: auto;*/
	/*padding: 8px;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*margin: 10px 10px 0px 0px;*/
	/*line-height: 15px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
/*}*/
/*.lib_obj_library img {*/
	/*width: 100%;*/
	/*height: auto;*/
/*}*/
/*.lib_image_library {*/
	/*width: 100px;*/
	/*max-height: 130px;*/
	/*overflow: hidden;*/
	/*display: block;*/
	/*background-position: 50% 50%;*/
	/*border: 1px solid #aaa;*/
	/*float: left;*/
	/*margin-right: 10px;*/
	/*cursor:pointer;*/
/*}*/

/*.lib_title {*/
	/*font-weight: bold;*/
	/*margin-bottom: 5px;*/
/*}*/
/*.lib_kid {*/
/*}*/
/*.close_lib*/
/*{*/
	/*float: left;*/
	/*top: 3px;*/
	/*left: 3px;*/
	/*z-index: 100;*/
	/*background-color: #990000;*/
	/*padding: 3px;*/
	/*color: #fff;*/
	/*font-weight: bold;*/
	/*cursor: pointer;*/
	/*opacity: .7;*/
	/*text-align: center;*/
	/*line-height: 10px;*/
	/*border-radius: 50%;*/
	/*margin: 0 4px 3px 0;*/
/*}*/
/**********************************/
 /*KORA GALLERY PAGE*/
/**********************************/
/*.gal_display {*/
	/*font-size: 11px;*/
	/*width: 95%;*/
	/*float: left;*/
	/*overflow: auto;*/
	/*padding: 8px;*/
	/*background-color: #fff;*/
	/*border: 1px solid #ddd;*/
	/*margin: 10px 10px 0px 0px;*/
	/*line-height: 15px;*/
/*}*/
/*.lib_obj img {*/
	/*width: 100%;*/
	/*height: auto;*/
/*}*/
/*.gal_image {*/
	/*float: left;*/
	/*margin: 0px 10px 0px 0px;*/
	/*position: relative;*/
	/*display: inline-block;*/
	/*font-size: 0;*/
/*}*/
/*.gal_image img {*/
	/*border: 1px solid #aaa;*/
	/*height: 110px;*/
/*}*/
/*.gal_title {*/
	/*font-weight: bold;*/
	/*margin-bottom: 5px;*/
/*}*/
/*.gal_image .close {*/
	/*position: absolute;*/
	/*top: 3px;*/
	/*left: 3px;*/
	/*z-index: 100;*/
	/*background-color: red;*/
	/*padding: 3px;*/
	/*color: #fff;*/
	/*font-weight: bold;*/
	/*cursor: pointer;*/
	/*opacity: .7;*/
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*line-height: 10px;*/
	/*border-radius: 50%;*/
/*}*/
/*.gal_image:hover .close {*/
	/*opacity: 1;*/
/*}*/
/*.gal_display .close {*/
	/*float: right;*/
	/*top: 3px;*/
	/*left: 3px;*/
	/*z-index: 100;*/
	/*background-color: #990000;*/
	/*padding: 3px;*/
	/*color: #fff;*/
	/*font-weight: bold;*/
	/*cursor: pointer;*/
	/*opacity: .7;*/
	/*text-align: center;*/
	/*font-size: 20px;*/
	/*line-height: 10px;*/
	/*border-radius: 50%;*/
/*}*/
/*.gal_display:hover .close {*/
	/*opacity: 1;*/
/*}*/

/*.gal_image:hover .closePic {*/
	/*opacity: 1;*/
/*}*/
/*.gal_display .closePic {*/
	/*width: 12px;*/
	/*top: 3px;*/
	/*left: 3px;*/
	/*z-index: 100;*/
	/*background-color: #990000;*/
	/*padding: 3px;*/
	/*color: #fff;*/
	/*font-weight: bold;*/
	/*cursor: pointer;*/
	/*opacity: .7;*/
	/*text-align: center;*/
	/*font-size: 16px;*/
	/*line-height: 10px;*/
	/*border-radius: 50%;*/
	/*margin-bottom: 2px;*/
/*}*/
/*.gal_display:hover .closePic {*/
	/*opacity: 1;*/
/*}*/
/*#gallery_select {*/
	/*clear: both;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
	/*padding: 0px 0px 0px 0px;*/
	/*font-size: 14px;*/
/*}*/
/**********************************/
 /*FORM UPLOAD PAGE*/
/**********************************/
/*.form_upload {*/
	/*line-height: 25px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
	/*font-size: 13px;*/
	/*width: 98%;*/
	/*height: 200px;*/
	/*background-color: #fff;*/
	/*float: left;*/
	/*margin-top: -8px;*/
/*}*/
/*.form_upload_library {*/
	/*line-height: 25px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
	/*font-size: 13px;*/
	/*position: fixed;*/
	/*width: 98%;*/
	/*height: 115px;*/
	/*background-color: #fff;*/
	/*float: left;*/
	/*border-bottom: 1px solid #ccc;*/
	/*margin-top: -8px;*/
/*}*/
/*.form_upload_gallery {*/
	/*line-height: 25px;*/
	/*font-family: Verdana, Helvetica, Arial, sans-serif;*/
	/*font-size: 13px;*/
	/*position: fixed;*/
	/*width: 98%;*/
	/*background-color: #fff;*/
	/*float: left;*/
    /*border-bottom: 1px solid #ccc;*/
	/*margin-top: -8px;*/
/*}*/
/*.kora_results_container {margin-top: 10px; float: left; margin-bottom: 30px;}*/
/*.kora_results_container_library {*/
/*margin-top: 125px; */
/*float: left;*/
 /*margin-bottom: 30px;*/
/*}*/

/********************************/


/*.crop {*/
	/*display: block;*/
	/*width: 250px;*/
	/*height: 200px;*/
	/*background-position: 50% 50%;*/
/*}*/
/*.koraobj_tn {*/
	/*width: 100%;*/
/*}*/
/*Full Record Page */
/*.control_full_label {*/
	/*font-weight: bold;*/
	/*float: left;*/
	/*margin: 0px 5px 0px 0px;*/

	/**/
/*}*/
/*.control_full_label:after {*/
	/*content: ":";*/
	/**/
/*}*/
/*.control_full {*/
	/*padding: 5px 0px 5px 0px;*/
	/*border-style: ridge;*/
	 /*background-color:rgb(255,255,0);opacity:0.6;*/
	 /*border-radius: 25px;*/
	/*position: relative;*/
	/*top: 530px;*/
    /*left: 330px;*/
	/*color: black;*/

/*}*/
/*.control_full_value {*/

/*}*/
/*.container_full {*/
	/*line-height: 17px;*/

/*}*/
/*.kc_file_name {clear: both; margin-left: 15px; font-style:italic;}*/
/*.kc_file_size {clear: both; margin-left: 15px; font-style:italic;}*/
/*.kc_file_type {clear: both; margin-left: 15px; font-style:italic;}*/

/*******************/

/*@media only screen and (min-width: 960px) {*/
/*.kgfs_object {*/
	/*float: left;*/
	/*width: 220px;*/
	/*margin: 0px 20px 20px 0px;*/
	/*font-size: 12px;*/
	/*text-overflow: ellipsis;*/
	/*height: 200px;*/
	/*overflow: hidden;*/
/*// IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ -o-text-overflow: ellipsis;*/
/*// for Opera 9 & 10*/
/*}*/
/*.kgfs_object_selected {*/
	/*border: 2px solid #A7D7A3;*/
/*}*/
/*.kgfs_img {*/
	/*max-height: 120px;*/
	/*overflow: hidden;*/
	/*display: block;*/
	/*background-position: 50% 50%;*//*border: 1px solid #aaa;*/
/*}*/
/*.kgfs_img img {*/
	/*width: 220px;*/
/*}*/
/*.kgfs_title {*/
	/*font-weight: bold;*/
	/*line-height: 15px;*/
	/*margin: 4px 0px 0px 0px;*/
/*}*/
/*.kgfs_desc {*/
	/*line-height: 15px;*/
	/*margin: 3px 0px 0px 0px;*/
/*}*/
/*}*/

/*@media only screen and (min-width: 768px) {*/
/*.container_full { float: left; width: 47%;}*/
/*.kc_file_tn {*/
	/*float: left;*/
	/*max-width: 47%;*/
	/*padding: 10px;*/
	/*background-color: #ddd;*/
	/*margin-right: 15px;*/
	/*position: fixed;*/
  /*top: 40%;*/
  /*left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
	/**/
/*}*/
/*.kc_file_tn img {*/
	/*max-height: 70%;*/
	/*display: block;*/
	/*margin-right: auto;*/
	/*margin-left: auto;*/
		/*height:480px;*/
	/*width: 570px;*/
	/**/
	/**/
/*}*/
/*}*/

/*@media only screen and (min-width: 768px) and (max-width: 960px) {*/
/*.kgfs_object {*/
	/*float: left;*/
	/*width: 220px;*/
	/*margin: 0px 20px 20px 0px;*/
	/*height: 200px;*/
	/*font-size: 11px;*/
	/*text-overflow: ellipsis;*/
/*// IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+ -o-text-overflow: ellipsis;*/
/*// for Opera 9 & 10*/
/*}*/
/*.kgfs_object_selected {*/
	/*border: 2px solid #A7D7A3;*/
/*}*/

/*.kgfs_img {*/
	/*min-width: 100%;*/
	/*max-height: 120px;*/
	/*overflow: hidden;*/
	/*display: block;*/
	/*background-position: 50% 50%;*/
	/*border: 1px solid #aaa;*/
/*}*/
/*.kgfs_title {*/
	/*font-weight: bold;*/
	/*line-height: 12px;*/
	/*margin: 4px 0px 0px 0px;*/
/*}*/
/*.kgfs_desc {*/
	/*line-height: 12px;*/
	/*margin: 3px 0px 0px 0px;*/
/*}*/
/*}*/

/*@media only screen and (max-width: 768px) {*/
/*.kgfs_object {*/
	/*margin: 0px 0px 20px 0px;*/
/*}*/
/*.kgfs_title {*/
	/*font-weight: bold;*/
	/*line-height: 15px;*/
	/*margin: 4px 0px 0px 0px;*/
/*}*/
/*.kgfs_desc {*/
	/*line-height: 15px;*/
	/*margin: 3px 0px 0px 0px;*/
/*}*/
/*.container_full {width: 100%;}*/
/*.kc_file_tn {*/
	/*max-width: 100%;*/
	/*padding: 10px;*/
	/*background-color: #ddd;*/
		/*position: fixed;*/
  /*top: 40%;*/
  /*left: 50%;*/
  /* bring your own prefixes */
  /*transform: translate(-50%, -50%);*/
/*}*/
/*.kc_file_tn img {*/
	/*max-height: 70%;*/
	/*display: block;*/
	/*margin-right: auto;*/
	/*margin-left: auto;*/
	/*height:480px;*/
	/*width: 480px;*/
/*}*/
/*}*/
